.content-schema{
    position: relative;
    width: 1335px;
    height: 785px;
    left: 50%;
    margin-left: -667px;
    background-image: url("../../images/departments/schema.jpg");
}
/*-------------------------------------------------*/
.content-modules{
    position: relative;
    margin-top: 72px;
    width: 1022px;
    height: 445px;
    /*text-align: justify;*/
}
/*-------------------------*/
.content-modules-searchjob{
    position: relative;
    height: 443px;
    width: 324px;
}
.content-modules-searchjob-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    color: #52453c;
}
.content-modules-searchjob-modul{
    margin-top: 20px;
    height: 327px;
    background-color: #f6f6f6;
}
.content-modules-searchjob-modul-job{
    margin-top: 26px;
    margin-left: 38px;
    width: 235px;
    height: 32px;
    border-radius: 4px;
    background-color: #ffffff;
}
.content-modules-searchjob-modul-jobexam{
    margin-top: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    /*font-weight: 700;*/
    text-align: center;
    color: #646464;
}
.content-modules-searchjob-modul-city{
    margin-top: 11px;
    margin-left: 38px;
    width: 235px;
    height: 32px;
    border-radius: 4px;
    background-color: #ffffff;
}
.content-modules-searchjob-modul-city-down{
    margin-left: 212px;
    margin-top: 10px;
    width: 10px;
    height: 9px;
    background-image: url("../../images/modules/job_ddown.png");
}
.content-modules-searchjob-button{
    margin-top: 22px;
    margin-left: 97px;
    height: 31px;
    width: 106px;
    border-radius: 2px;
    background-color: #ee6451;
    cursor: pointer;
}
.content-modules-searchjob-button-text{
    margin-top: 9px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    /*font-weight: 700;*/
    text-align: center;
    color: #ffffff;
    pointer-events: none;
    background: none !important;
}
.content-modules-searchjob-also-text{
    margin-top: 37px;
    margin-left: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    /*font-weight: 700;*/
    text-align: left;
    color: #39414c;
    pointer-events: none;
    background: none !important;
}
.content-modules-searchjob-also-lnk0{
    margin-top: 12px;
    margin-left: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    color: #1887d9;
    cursor: pointer;
}
.content-modules-searchjob-also-lnk1{
    margin-top: 8px;
    margin-left: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    color: #1887d9;
    cursor: pointer;
}
/*-------------------------*/
.content-modules-meet{
    position: relative;
    height: 443px;
    width: 324px;
    margin-top: -443px;
    margin-left: 350px;
}
.content-modules-meet-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    color: #52453c;
}
.content-modules-meet-modul{
    margin-top: 20px;
    height: 327px;
    background-color: #f6f6f6;
}
.content-modules-meet-modul-pic{
    margin-top: 16px;
    margin-left: 17px;
    width: 292px;
    height: 238px;
    background-image: url("../../images/departments/seeall.png");
}
.content-modules-meet-btnseeall{
    margin-top: 19px;
    margin-left: 110px;
    height: 31px;
    width: 106px;
    border-radius: 2px;
    background-color: #2c99df;
    cursor: pointer;
}
.content-modules-meet-btnseeall-text{
    margin-top: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 12px;
    /*font-weight: 700;*/
    text-align: center;
    color: #ffffff;
    pointer-events: none;
    background: none !important;
}
/*----------*/
.content-modules-info{
    position: relative;
    height: 443px;
    width: 324px;
    margin-top: -443px;
    margin-left: 700px;
}
.content-modules-info-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 25px;
    font-weight: 700;
    text-align: center;
    color: #52453c;
}
.content-modules-info-module{
    margin-top: 25px;
    height: 327px;
    width: 325px;
    background-color: #f6f6f6;
}
.content-modules-info-module-element{
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ffffff;
}
.content-modules-info-module-element-name{
    margin-left: 25px;
    padding-top: 14px;
    width: 205px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 17px;
    /*font-weight: 700;*/
    text-align: left;
    color: #0a0a0a;
}
.content-modules-info-module-element-num{
    /*margin-left: 25px;*/
    margin-top: -20px;
    height: 20px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 17px;
    /*font-weight: 700;*/
    text-align: right;
    color: #b53737;
}
.content-modules-info-module-element-city{
    margin-left: 25px;
    margin-top: 8px;
    padding-bottom: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 12px;
    /*font-weight: 700;*/
    text-align: left;
    color: #737373;
}
/*----------*/
