.content-info{
    position: relative;
    margin-top: 43px;
}
.content-info-title{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    /*font-weight: 700;*/
    line-height: 25px;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
}
.content-info-goback{
    position: relative;
    margin-left: 916px;
    margin-top: -25px;
}
.content-info-goback-pic{
    position: relative;
    width: 28px;
    height: 28px;
    background-image: url("../../images/developments_inner/dev_in_0007_Arrow.png");
}
.content-info-goback-text{
    position: relative;
    margin-left: 36px;
    margin-top: -28px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    /*font-weight: 700;*/
    line-height: 28px;
    text-align: left;
    /*text-transform: uppercase;*/
    color: #50443b;
}
.content-info-subtitle{
    position: relative;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    /*font-weight: 700;*/
    line-height: 25px;
    text-align: left;
    /*text-transform: uppercase;*/
    color: #676767;
}
.content-info-pic{
    position: relative;
    margin-top: 30px;
    width: 239px;
    height: 171px;
}
.content-info-text{
    position: relative;
    width: 737px;
    margin-left: 263px;
    margin-top: -171px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    /*font-weight: 700;*/
    line-height: 24px;
    text-align: left;
    /*text-transform: uppercase;*/
    color: #383838;
}
.content-info-list{
    position: relative;
    margin-top: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    /*font-weight: 700;*/
    line-height: 24px;
    text-align: left;
    /*text-transform: uppercase;*/
    color: #000000;
}
.content-info-list>h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    /*font-weight: 700;*/
    line-height: 20px;
    text-align: left;
    /*text-transform: uppercase;*/
    color: #2c99df;
}
.content-info-list>ul{
    margin-left: 0;
    padding-left: 19px;
}
.content-info-list>ul>li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 17px;
    text-align: left;
    /*text-transform: uppercase;*/
    color: #000000;
}
.content-info-list2>h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    /*font-weight: 700;*/
    line-height: 17px;
    text-align: left;
    /*text-transform: uppercase;*/
    color: #000000;
}
.content-info-list2>ul{
    margin-left: 0;
    padding-left: 14px;
}
.content-info-list2>ul>li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    text-align: left;
    /*text-transform: uppercase;*/
    color: #000000;
}
.content-info-links{
    padding-bottom: 25px;
    border-bottom: 1px #e8e7e3 solid;
}
.content-info-links>h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 17px;
    text-align: left;
    /*text-transform: uppercase;*/
    color: #000000;
}
.content-info-links>p>a{
    /*text-decoration: underline;*/
    color: #2c99df;
}
/*--------------------*/
.content-more{
    position: relative;
    margin-top: 34px;
}
.content-more-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: normal;
    line-height: 25px;
    text-align: left;
    /*text-transform: uppercase;*/
    color: #000000;
}
.content-more-slider{
    position: relative;
    margin-top: 54px;
}
.content-more-slider-moover{
    position: relative;
    width: 50000px;
    height: 171px;
    font-size: 0;
    margin-left: -23px;
}
.content-more-slider-element{
    position: relative;
    display: inline-block;
    margin-left: 23px;
}
.content-more-slider-element-pic{
    position: relative;
    width: 239px;
    height: 171px;
}
.content-more-slider-element-textback{
    margin-top: -56px;
    position: relative;
    width: 239px;
    height: 56px;
    background-color: rgba(255,255,255,.85);
}
.content-more-slider-element-text{
    padding-left: 14px;
    display: table-cell;
    width: 207px;
    height: 56px;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    color: #000000;
    pointer-events: none;
    background: none !important;
}
.content-more-slider-scroller{
    margin-top: 31px;
    padding-bottom: 55px;
    height: 12px;
    width: 100%;
    text-align: center;
}
.content-more-slider-scroller-in{
    height: 12px;
    font-size: 0;
    margin-left: -12px;
}
.content-more-slider-scroller-grey{
    margin-left: 12px;
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url("../../images/developments_inner/dev_in_0009_Shape-146-copy-5.png");
}
.content-more-slider-scroller-blue{
    position: relative;
    width: 12px;
    height: 12px;
    background-image: url("../../images/developments_inner/dev_in_0008_Shape-146-copy-6.png");
}