.content-block-stud{
    position: relative;
    width: 500px;
    height: 440px;
    margin-top: 45px;
}
.content-block-stud-title{
    min-height: 20px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    /*font-weight: 700;*/
    line-height: 20px;
    text-align: left;
    color: #000000;
}
.content-block-stud-pic{
    position: relative;
    margin-top: 30px;
    width: 500px;
    height: 358px;
}
.content-block-stud-name-back{
    margin-top: -69px;
    position: relative;
    width: 500px;
    height: 69px;
    background-color: rgba(255,255,255,.9);
}
.content-block-stud-name-text{
    padding-left: 24px;
    display: table-cell;
    width: 415px;
    height: 69px;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    /*font-weight: 700;*/
    text-align: left;
    color: #000000;
}
.content-block-stud-name-ico{
    position: relative;
    margin-left: 452px;
    margin-top: -47px;
    width: 25px;
    height: 25px;
    background-image: url("../../images/meet/meet_0000_expand.png");
}
/*--------*/
.content-block-young{
    position: relative;
    width: 500px;
    height: 440px;
    margin-left: 522px;
    margin-top: -440px;
}
.content-block-young-title{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    /*font-weight: 700;*/
    line-height: 20px;
    text-align: left;
    color: #000000;
}
.content-block-young-block{
    position: relative;
    margin-top: 30px;
    width: 239px;
    height: 358px;
}
.content-block-young-block2{
    margin-top: -358px;
    margin-left: 260px;
}
.content-block-young-block-pic{
    position: relative;
    width: 239px;
    height: 171px;
}
.content-block-young-block-grey{
    position: relative;
    height: 188px;
    width: 239px;
    background-color: #f1f1f1;
}
.content-block-young-block-grey-text{
    padding-left: 18px;
    width: 205px;
    height: 170px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    /*font-weight: 700;*/
    line-height: 22px;
    text-align: left;
    color: #000000;
    overflow: hidden;
}
.content-block-young-block-grey-text>h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    text-align: left;
    color: #000000;
}
.content-block-young-scroller{

}
.content-block-young-scroller-grey{

}
.content-block-young-scroller-blue{

}
/*----------*/
.content-block-employ{
    position: relative;
    width: 500px;
    height: 440px;
    margin-top: 30px;
}
/*------*/
.content-block-train{
    position: relative;
    width: 500px;
    height: 440px;
    margin-left: 522px;
    margin-top: -440px;
    padding-bottom: 72px;
}