.content-gallery-title{
    margin-top: 39px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    /*font-weight: 700;*/
    text-align: left;
    line-height: 25px;
    text-transform: uppercase;
    color: #000000;
    pointer-events: none;
    background: none !important;
}
.content-gallery-buttons{
    margin-left: 761px;
    margin-top: -35px;
    height: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    /*font-weight: 700;*/
    text-align: center;
    line-height: 45px;
    /*text-transform: uppercase;*/
    color: #ffffff;
}
.content-gallery-buttons-team{
    width: 104px;
    cursor: pointer;
    background-color: #84d0f0;
}
.content-gallery-buttons-product{
    margin-left: 114px;
    margin-top: -45px;
    width: 146px;
    cursor: pointer;
    background-color: #f1f1f1;
    color: #000000;
}
/*--------------*/
.content-gallery{
    position: relative;
    /*text-align: justify;*/
    margin-top: 21px;
    margin-left: -21px;
    height: auto;
}
.content-gallery-element{
    position: relative;
    /*display: inline-block;*/
    /*padding-right: 20px;*/
    /*padding-bottom: 19px;*/
    padding-bottom: 19px;
    margin-left: 21px;
    float: left;
    width: 239px;
    height: 171px;
    overflow: hidden;
}