.content-mapinner{
    position: relative;
    width: 1335px;
    height: 582px;
    left: 50%;
    margin-left: -667px;
    background-image: url("../../images/locations_inner/maps/ukraine.png");
}
/*-----------*/
.content-mapinner-title{
    margin-top: 44px;
}
.content-mapinner-title-text{
    margin-left: 180px;
    height: 34px;
    width: 190px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 34px;
    /*font-weight: 700;*/
    text-align: center;
    color: #50443b;
    background-color: #ffffff;
    border-radius: 17px;
    pointer-events: none;
    /*background: none !important;*/
}
.content-mapinner-title-goback{
    margin-left: 1042px;
    margin-top: -34px;
    cursor: pointer;
}
.content-mapinner-title-goback-pic{
    width: 28px;
    height: 28px;
    background-image: url("../../images/locations_inner/li_0001_Arrow.png");
}
.content-mapinner-title-goback-text{
    margin-left: 36px;
    margin-top: -20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 13px;
    font-weight: 700;
    text-align: left;
    color: #50443b;
    /*pointer-events: none;*/
    /*background: none !important;*/
}
/*----------*/
.content-mapinner-data{

}
/*-----------*/
.content-mapinner-infopanel{
    margin-left: 180px;
    margin-top: 455px;
    width: 358px;
    height: 38px;
    background-image: url("../../images/locations_inner/li_0000_Panel.png");
}
/*--------------------------------------------------*/
.content-modules{
    margin-top: 70px;
    padding-bottom: 53px;
}
/*----------*/
.content-modules-left{
    height: 475px;
    width: 325px;
}
.content-modules-left-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 25px;
    font-weight: 700;
    text-align: center;
    color: #52453c;
}
.content-modules-left-module{
    margin-top: 25px;
    height: 428px;
    width: 325px;
    background-color: #f6f6f6;
}
.content-modules-left-module-element{
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ffffff;
}
.content-modules-left-module-element-name{
    margin-left: 25px;
    padding-top: 14px;
    width: 205px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 20px;
    /*font-weight: 700;*/
    text-align: left;
    color: #0a0a0a;
}
.content-modules-left-module-element-num{
    /*margin-left: 25px;*/
    margin-top: -20px;
    height: 20px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 20px;
    /*font-weight: 700;*/
    text-align: right;
    color: #b53737;
}
.content-modules-left-module-element-city{
    margin-left: 25px;
    margin-top: 14px;
    padding-bottom: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 14px;
    /*font-weight: 700;*/
    text-align: left;
    color: #737373;
}
/*----------*/
.content-modules-center{
    height: 475px;
    width: 325px;
    margin-left: 350px;
    margin-top: -475px;
}
.content-modules-center-module-element{
    /*display: table-cell;*/
    height: 65px;
    border-bottom: 2px;
    border-bottom-style: groove;
    border-bottom-color: #ffffff;
}
.content-modules-center-module-firstelement{
    height: 62px;
    border-bottom: 2px;
    border-bottom-style: groove;
    border-bottom-color: #ffffff;
}
.content-modules-center-module-element-pointer{
    margin-top: 20px;
    margin-left: 21px;
    width: 16px;
    height: 22px;
    background-image: url("../../images/locations_inner/li_0010_Layer-367.png");
}
.content-modules-center-module-element-country{
    margin-left: 48px;
    margin-top: -21px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 20px;
    /*font-weight: 700;*/
    text-align: left;
    color: #0a0a0a;
}
.content-modules-center-module-element-firstlogo{
    display: table-cell;
    vertical-align: middle;
    padding-left: 45px;
    height: 65px;
}
.content-modules-center-module-element-secondlogo{
    display: table-cell;
    vertical-align: middle;
    padding-left: 98px;
    height: 65px;
    margin-top: -65px;
}
.content-modules-center-module-element-learnmore{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 25px;
    /*font-weight: 700;*/
    text-align: center;
    color: #737373;
}
.content-modules-center-module-element-learnmore>a{
    color: #40aaf6;
}
/*----------*/
.content-modules-right{
    height: 475px;
    width: 325px;
    margin-left: 700px;
    margin-top: -475px;
}
.content-modules-right-module{
    margin-top: 25px;
    height: 428px;
    width: 325px;
    /*background-color: #f6f6f6;*/
    text-align: justify;
}
.content-modules-right-module-element{
    width: 151px;
    height: 128px;
    line-height: 52px;
    display: inline-table;
}
/*--------------------------------------------------*/
