/*--------------------------------------------------*/
.content-map{
    position: relative;
    width: 1335px;
    height: 582px;
    left: 50%;
    margin-left: -667px;
    background-image: url("../../images/locations/location_0001_Map.png");
}
/*-------------------------------------------------*/
.content-modules{
    position: relative;
    margin-top: 72px;
    width: 1022px;
    height: 526px;
    /*text-align: justify;*/
}
/*-------------------------*/
.content-modules-searchjob{
    position: relative;
    height: 452px;
    width: 324px;
}
.content-modules-searchjob-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 25px;
    font-weight: 700;
    text-align: center;
    color: #52453c;
}
.content-modules-searchjob-modul{
    margin-top: 20px;
    height: 408px;
    background-color: #f6f6f6;
}
.content-modules-searchjob-modul-job{
    margin-top: 26px;
    margin-left: 38px;
    width: 235px;
    height: 32px;
    border-radius: 4px;
    background-color: #ffffff;
}
.content-modules-searchjob-modul-jobexam{
    margin-top: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 13px;
    /*font-weight: 700;*/
    text-align: center;
    color: #646464;
}
.content-modules-searchjob-modul-city{
    margin-top: 11px;
    margin-left: 38px;
    width: 235px;
    height: 32px;
    border-radius: 4px;
    background-color: #ffffff;
}
.content-modules-searchjob-modul-city-down{
    margin-left: 212px;
    margin-top: 10px;
    width: 10px;
    height: 9px;
    background-image: url("../../images/modules/job_ddown.png");
}
.content-modules-searchjob-button{
    margin-top: 22px;
    margin-left: 97px;
    height: 31px;
    width: 106px;
    border-radius: 2px;
    background-color: #ee6451;
    cursor: pointer;
}
.content-modules-searchjob-button-text{
    margin-top: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 12px;
    /*font-weight: 700;*/
    text-align: center;
    color: #ffffff;
    pointer-events: none;
    background: none !important;
}
.content-modules-searchjob-also-text{
    margin-top: 37px;
    margin-left: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 15px;
    /*font-weight: 700;*/
    text-align: left;
    color: #39414c;
    pointer-events: none;
    background: none !important;
}
.content-modules-searchjob-also-lnk0{
    margin-top: 12px;
    margin-left: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 15px;
    font-weight: 700;
    text-align: left;
    color: #1887d9;
    cursor: pointer;
}
.content-modules-searchjob-also-lnk1{
    margin-top: 8px;
    margin-left: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 15px;
    font-weight: 700;
    text-align: left;
    color: #1887d9;
    cursor: pointer;
}
.content-modules-searchjob-footer{
    margin-top: 40px;
    height: 89px;
    background-color: #ffffff;
}
.content-modules-searchjob-btnseeall{
    margin-top: 35px;
    margin-left: 97px;
    height: 31px;
    width: 106px;
    border-radius: 2px;
    background-color: #2c99df;
    cursor: pointer;
}
.content-modules-searchjob-btnseeall-text{
    margin-top: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 12px;
    /*font-weight: 700;*/
    text-align: center;
    color: #ffffff;
    pointer-events: none;
    background: none !important;
}
.content-modules-searchjob-line{
    margin-top: 18px;
    height: 2px;
    background-color: #e8e7e3;
}
/*-------------------------*/
.content-modules-top{
    position: relative;
    margin-left: 349px;
    margin-top: -452px;
    height: 452px;
    width: 324px;
}
.content-modules-top-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 25px;
    font-weight: 700;
    text-align: center;
    color: #52453c;
}
.content-modules-top-modul{
    margin-top: 20px;
    height: 408px;
    background-color: #40aaf6;
}
.content-modules-top-modul-pic{
    width: 324px;
    height: 184px;
    background-image: url("../../images/locations/location_top_bg.png");
}
.content-modules-top-modul-info{
    margin-top: 17px;
    margin-left: 25px;
    width: 274px;
    height: 115px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    color: #ffffff;
    pointer-events: none;
    background: none !important;
}
.content-modules-top-modul-line{
    margin-left: 25px;
    margin-top: 23px;
    width: 273px;
    height: 2px;
    background-color: #7bc8ff;
}
.content-modules-top-modul-learnmore{
    margin-top: 23px;
    margin-left: 113px;
    height: 17px;
    cursor: pointer;
}
.content-modules-top-modul-learnmore-arrow{
    height: 17px;
    width: 9px;
    background-image: url("../../images/modules/modules_0002_Rounded-Rectangle-14-copy-7.png");
}
.content-modules-top-modul-learnmore-text{
    margin-top: -16px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-align: left;
    color: #ffffff;
}
/*-------------------------*/
.content-modules-photo{
    position: relative;
    margin-left: 698px;
    margin-top: -452px;
    height: 452px;
    width: 324px;
}
.content-modules-photo-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 25px;
    font-weight: 700;
    text-align: center;
    color: #52453c;
}
.content-modules-photo-modul{
    margin-top: 20px;
    height: 327px;
    /*background-color: #40aaf6;*/
}
.content-modules-photo-modul-pic{
    width: 324px;
    height: 319px;
    background-image: url("../../images/locations/location_0000_bg.png");
}
.content-modules-photo-modul-info{
    margin-top: 41px;
    margin-left: 50px;
}
.content-modules-photo-modul-info-ico{
    width: 12px;
    height: 18px;
    background-image: url("../../images/modules/modules_0002_location-icon.png");
}
.content-modules-photo-modul-info-text{
    margin-top: -16px;
    margin-left: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 13px;
    /*line-height: 13px;*/
    /*font-weight: 700;*/
    text-align: left;
    color: #646464;
}
.content-modules-photo-modul-line{
    margin-top: 30px;
    height: 2px;
    background-color: #e8e7e3;
}
/*-------------------------*/
