.content-title{
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    /*font-weight: 700;*/
    text-align: left;
    color: #000000;
}
.content-blocks{
    padding-bottom: 93px;
}
.content-blocks-firstline{
    text-align: justify;
}
.content-blocks-firstline-search{
    display: inline-block;
    width: 500px;
    height: 159px;
    background-color: #f1f1f1;
}
.content-blocks-firstline-search-info{
    display: table;
    position: relative;
    margin-left: 24px;
    margin-top: 31px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 18px;
    /*font-weight: 700;*/
    text-align: left;
    color: #727272;
    pointer-events: none;
    background: none !important;
}
.content-blocks-firstline-search-input{
    margin-left: 24px;
    margin-top: 29px;
    height: 35px;
    width: 452px;
    border: 1px #d4d4d4 solid;
    border-radius: 5px;
    background-color: #ffffff;
}
.content-blocks-firstline-search-input-button{
    margin-top: -36px;
    margin-left: 419px;
    width: 58px;
    height: 35px;
    background-color: #2896dd;
    /*border: 1px #d4d4d4 solid;*/
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}
.content-blocks-firstline-search-input-button-dd{
    margin-left: 25px;
    margin-top: 12px;
    width: 7px;
    height: 6px;
    background-image: url("../../images/meet/meet_0004_Drop-Down.png");
}
.content-blocks-other{
    text-align: justify;
    font-size: 0;
}
.content-blocks-other-block{
    display: inline-block;
    width: 500px;
    height: 340px;
    line-height: 0;
}
/*--------*/
.content-blocks-smallblock{
    display: inline-block;
    width: 500px;
    height: 159px;
    background-color: #f1f1f1;
}
.content-blocks-smallblock-pic{
    width: 237px;
    height: 159px;
    /*background-image: url("../../images/meet/meet_0003_Photo_small.png");*/
}
.content-blocks-smallblock-pic>img{
    position: relative;
}
.content-blocks-smallblock-name-back{
    position: relative;
    margin-top: -51px;
    width: 237px;
    height: 51px;
    background-color: rgba(255,255,255,.75);
}
.content-blocks-smallblock-name{
    display: table-cell;
    width: 237px;
    height: 51px;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    /*font-weight: 700;*/
    text-align: center;
    color: #000000;
}
.content-blocks-smallblock-name>h2{
    margin: 0;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #000000;
}
.content-blocks-smallblock-text-back{
    display: block;
    width: 263px;
    height: 159px;
    margin-left: 237px;
    margin-top: -159px;
}
.content-blocks-smallblock-text{
    padding-left: 24px;
    width: 214px;
    height: 159px;
    display: table-cell;
    font-size: 13px;
    line-height: 22px;
    font-family: Arial, Helvetica, sans-serif;
    /*font-weight: 700;*/
    text-align: left;
    vertical-align: middle;
    color: #000000;
}
.content-blocks-smallblock-text-dd{
    display: inline-block;
    width: 25px;
    height: 14px;
    background-image: url("../../images/meet/meet_0001_-copy-5.png");
    background-repeat: no-repeat;
}
/*------*/
.content-blocks-bigblock{
    position: relative;
    width: 500px;
    height: 340px;
}
.content-blocks-bigblock-text-back{
    position: relative;
    margin-top: -126px;
    height: 75px;
    background-color: rgba(255,255,255,.56);
}
.content-blocks-bigblock-text{
    width: 451px;
    height: 75px;
    padding-left: 24px;
    display: table-cell;
    font-size: 13px;
    line-height: 22px;
    font-family: Arial, Helvetica, sans-serif;
    /*font-weight: 700;*/
    text-align: left;
    vertical-align: middle;
    color: #000000;
    overflow: hidden;
}
.content-blocks-bigblock-name-back{
    position: relative;
    height: 51px;
    background-color: rgba(255,255,255,.75);
}
.content-blocks-bigblock-name{
    display: table-cell;
    width: 451px;
    height: 51px;
    padding-left: 24px;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    /*font-weight: 700;*/
    text-align: left;
    color: #000000;
}
.content-blocks-bigblock-name>h2{
    margin: 0;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: #000000;
}
.content-blocks-bigblock-ico{
    position: relative;
    margin-left: 450px;
    margin-top: -38px;
    width: 25px;
    height: 25px;
    background-image: url("../../images/meet/meet_0000_expand.png");
}
