.content-title{
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    /*font-weight: 700;*/
    text-align: left;
    color: #000000;
}
.content-blocks{
    margin-top: 29px;
    /*padding-bottom: 93px;*/
}
.content-blocks-search{
    width: 100%;
    height: 110px;
    background-color: #f1f1f1;
}
.content-blocks-search-input{
    margin-left: 24px;
    margin-top: 36px;
    height: 35px;
    width: 475px;
    border: 1px #d4d4d4 solid;
    border-radius: 5px;
    background-color: #ffffff;
}
.content-blocks-search-input-button{
    margin-top: -36px;
    margin-left: 442px;
    width: 58px;
    height: 35px;
    background-color: #2896dd;
    /*border: 1px #d4d4d4 solid;*/
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}
.content-blocks-search-input-button-dd{
    margin-left: 25px;
    margin-top: 12px;
    width: 7px;
    height: 6px;
    background-image: url("../../images/meet/meet_0004_Drop-Down.png");
}
.content-blocks-search-info{
    position: relative;
    margin-left: 523px;
    margin-top: -26px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 18px;
    /*font-weight: 700;*/
    text-align: left;
    color: #727272;
    pointer-events: none;
    background: none !important;
}
/*---------------------*/
.content-blocks-long{
    width: 100%;
    height: 214px;
    margin-top: 24px;
}
.content-blocks-long-pic{
    width: 500px;
    height: 214px;
}
.content-blocks-long-blue{
    margin-left: 500px;
    margin-top: -214px;
    width: 522px;
    height: 214px;
    background-color: #40aaf6;
}
.content-blocks-long-blue-text{
    padding-left: 24px;
    width: 425px;
    height: 214px;
    display: table-cell;
    font-size: 14px;
    line-height: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: left;
    vertical-align: middle;
    font-kerning: auto;
    color: #ffffff;
    pointer-events: none;
    background: none !important;
}
/*-----------------------*/
.content-blocks-2block-conteiner{
    margin-top: 24px;
    text-align: justify;
    padding-bottom: 125px;
}
/*--------*/
.content-blocks-2block{
    display: inline-block;
    width: 500px;
    height: 159px;
    background-color: #f1f1f1;
}
.content-blocks-2block-pic{
    width: 237px;
    height: 159px;
    /*background-image: url("../../images/meet/meet_0003_Photo_small.png");*/
}
.content-blocks-2block-pic>img{
    position: relative;
}
.content-blocks-2block-name-back{
    position: relative;
    margin-top: -51px;
    width: 237px;
    height: 51px;
    background-color: rgba(255,255,255,.75);
}
.content-blocks-2block-name{
    display: table-cell;
    width: 237px;
    height: 51px;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    /*font-weight: 700;*/
    text-align: center;
    color: #000000;
}
.content-blocks-2block-name>h2{
    margin: 0;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #000000;
}
.content-blocks-2block-text-back{
    display: block;
    width: 263px;
    height: 159px;
    margin-left: 237px;
    margin-top: -159px;
}
.content-blocks-2block-text{
    padding-left: 24px;
    width: 214px;
    height: 159px;
    display: table-cell;
    font-size: 13px;
    line-height: 22px;
    font-family: Arial, Helvetica, sans-serif;
    /*font-weight: 700;*/
    text-align: left;
    vertical-align: middle;
    color: #000000;
}
.content-blocks-2block-text-dd{
    display: inline-block;
    width: 25px;
    height: 14px;
    background-image: url("../../images/meet/meet_0001_-copy-5.png");
    background-repeat: no-repeat;
}

