.content-title{
    margin-top: 43px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    /*font-weight: 700;*/
    line-height: 25px;
    text-align: left;
    /*text-transform: uppercase;*/
    color: #000000;
}
/*---------------------------*/
.content-countryselector{
    margin-left: 594px;
    margin-top: -34px;
}
.content-countryselector-selector{
    width: 405px;
    height: 43px;
    background-color: #fbfbfb;
}
.content-countryselector-selector-text{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    /*font-weight: 700;*/
    line-height: 43px;
    text-align: left;
    /*text-transform: uppercase;*/   color: #b7b7b7;
}
.content-countryselector-selector-text-kaz{
    color: #262626;
    cursor: pointer;
    padding-right: 9px;
}
.content-countryselector-selector-text-mold{
    color: #2c99df;
    cursor: pointer;
    padding-right: 9px;
    padding-left: 9px;
}
.content-countryselector-selector-text-russ{
    color: #2c99df;
    cursor: pointer;
    padding-right: 9px;
    padding-left: 9px;
}
.content-countryselector-selector-text-ukr{
    color: #2c99df;
    cursor: pointer;
    padding-left: 9px;
}
/*---*/
.content-countryselector-search{
    margin-top: 22px;
    width: 405px;
    height: 30px;
    border: 1px #e8e7e3 solid;
    border-radius: 3px;
}
.content-countryselector-search-btn{
    margin-left: 333px;
    width: 72px;
    height: 30px;
    background-color: #2c99df;
    /*border: 1px #e8e7e3 solid;*/
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    /*font-weight: 700;*/
    line-height: 30px;
    text-align: center;
    color: #ffffff;
}
.content-countryselector-searchby{
    margin-top: 18px;
    margin-left: 27px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    /*font-weight: 700;*/
    line-height: 15px;
    text-align: left;
    color: #383838;
}
.content-countryselector-searchby-points{

}
/*-----------------------------*/
.content-btnform{
    margin-top: -66px;
    width: 362px;
    height: 66px;
    border: 1px #e8e7e3 solid;
    border-radius: 3px;
    /*border-bottom: 1px #e8e7e3 dotted;*/
    /*padding-bottom: 27px;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    /*font-weight: 700;*/
    line-height: 66px;
    text-align: center;
    text-transform: uppercase;
    color: #383838;
}
.content-btnform-btn{
    cursor: pointer;
    border-bottom: 1px #2c99df dashed;
    color: #2c99df;
}
/*-------------------------*/
.content-list{
    margin-top: 27px;
    border-top: 1px #e8e7e3 dotted;
}
.content-list-element{
    padding-top: 27px;
    border-bottom: 1px #e8e7e3 solid;
    padding-bottom: 27px;
}
.content-list-element-date{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    /*font-weight: 700;*/
    line-height: 24px;
    text-align: left;
    color: #36b0ff;
}
.content-list-element-name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    /*font-weight: 700;*/
    line-height: 24px;
    text-align: left;
    color: #000000;
}
.content-list-element-region{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    /*font-weight: 700;*/
    line-height: 24px;
    text-align: left;
    color: #898989;
}
.content-list-element-region-city{
    font-weight: 700;
    color: #000000;
}
/*--------------------*/
.content-more{
    position: relative;
    margin-top: 34px;
}
.content-more-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: normal;
    line-height: 25px;
    text-align: left;
    /*text-transform: uppercase;*/
    color: #000000;
}
.content-more-slider{
    position: relative;
    margin-top: 54px;
}
.content-more-slider-moover{
    position: relative;
    width: 50000px;
    height: 171px;
    font-size: 0;
    margin-left: -23px;
}
.content-more-slider-element{
    position: relative;
    display: inline-block;
    margin-left: 23px;
}
.content-more-slider-element-pic{
    position: relative;
    width: 239px;
    height: 171px;
}
.content-more-slider-element-textback{
    margin-top: -56px;
    position: relative;
    width: 239px;
    height: 56px;
    background-color: rgba(255,255,255,.85);
}
.content-more-slider-element-text{
    padding-left: 14px;
    display: table-cell;
    width: 207px;
    height: 56px;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    color: #000000;
    pointer-events: none;
    background: none !important;
}
.content-more-slider-scroller{
    margin-top: 31px;
    padding-bottom: 55px;
    height: 12px;
    width: 100%;
    text-align: center;
}
.content-more-slider-scroller-in{
    height: 12px;
    font-size: 0;
    margin-left: -12px;
}
.content-more-slider-scroller-grey{
    margin-left: 12px;
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url("../../images/developments_inner/dev_in_0009_Shape-146-copy-5.png");
}
.content-more-slider-scroller-blue{
    position: relative;
    width: 12px;
    height: 12px;
    background-image: url("../../images/developments_inner/dev_in_0008_Shape-146-copy-6.png");
}