.footer-push{
    margin: 0;
    padding: 0;
    height: 427px;
}
.footer{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 427px;
    /*top: 1237px;*/
    background-color: #003a80;
}
.footer-back-wave{
    position: relative;
    margin-top: 105px;
    margin-left: -665px;
    left: 50%;
    width: 1335px;
    height: 321px;
    background-image: url("../images/footer/_0000_Group-5.png");
}
.footer-wrapper{
    position: relative;
    left: 50%;
    margin-left: -511px;
    margin-top: -427px;
    width: 1022px;
    height: 427px;
    /*background-color: rgba(100,200,150,.5); *//*technical!!!*/
}
/*----------------*/
.footer-sites{
    width: 324px;
    height: 185px;
    margin-top: 46px;
    /*margin-left: 158px;*/
}
.footer-sites-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #84d0f0;
    line-height: 17px;
    pointer-events: none;
    background: none !important;
}
.footer-sites>ul{
    margin-top: 23px;
    margin-bottom: 0;
    padding-left: 18px;
    list-style-image: url("../images/footer/footer_circle.png");
}
.footer-sites>ul>li{
    text-align: left;
}
.footer-sites>ul>li>a{
    margin-left: 10px;
}
.footer-sites-circle{
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url("../images/footer/footer_circle.png");
}
.footer-sites-text{
    position: relative;
    display: inline-block;
    /*height: 10px;*/
    color: #40aaf6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 37px;
    text-decoration: underline !important;
}
/*----------------*/
.footer-info{
    width: 324px;
    height: 185px;
    margin-top: -185px;
    margin-left: 344px;
}
.footer-info-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #84d0f0;
    line-height: 17px;
    pointer-events: none;
    background: none !important;
}
/*----------------*/
.footer-info-address{
    margin-top: 23px;
    line-height: 37px;
    text-align: left;
}
.footer-info-address-pic{
    position: relative;
    display: inline-block;
    margin-top: 1px;
    width: 16px;
    height: 16px;
    background-image: url("../images/footer/footer_0002_address.png");
    background-repeat: no-repeat;
}
.footer-info-address-text{
    position: relative;
    display: inline-block;
    margin-left: 2em;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 37px;
}
/*----------------*/
.footer-info-mail{
    line-height: 37px;
    text-align: left;
}
.footer-info-mail-pic{
    position: relative;
    display: inline-block;
    margin-top: 1px;
    margin-left: -2px;
    width: 18px;
    height: 11px;
    background-image: url("../images/footer/footer_0001_email.png");
    background-repeat: no-repeat;
}
.footer-info-mail-text{
    position: relative;
    display: inline-block;
    margin-left: 2em;
    color: #40aaf6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 37px;
}
/*----------------*/
.footer-info-phone{
    line-height: 37px;
    text-align: left;
}
.footer-info-phone-pic{
    position: relative;
    display: inline-block;
    margin-top: 1px;
    width: 16px;
    height: 16px;
    background-image: url("../images/footer/footer_0000_mobile.png");
    background-repeat: no-repeat;
}
.footer-info-phone-text{
    position: relative;
    display: inline-block;
    margin-left: 2em;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 37px;
}
/*----------------*/
.footer-subscribe{
    width: 324px;
    height: 185px;
    margin-top: -185px;
    margin-left: 696px;
}
.footer-subscribe-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #84d0f0;
    line-height: 17px;
    pointer-events: none;
    background: none !important;
}
.footer-subscribe-rss{
    margin-left: 278px;
    margin-top: -20px;
    width: 49px;
    height: 21px;
    background-image: url("../images/footer/_0001_ico-block-copy-3.png");
}
.footer-subscribe-text{
    margin-top: 23px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #ffffff;
    line-height: 37px;
    pointer-events: none;
    background: none !important;
}
/*-----------------------------------*/
.footer-subscribe-sendmail{
    width: 324px;
    height: 31px;
    background-image: url("../images/footer/_0004_place-holder-copy-2.png");
}
.footer-subscribe-sendmail-button{
    /*margin-top: -30px;*/
    margin-left: 251px;
    width: 73px;
    height: 31px;
    background-image: url("../images/footer/footer_0003_button.png");
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 31px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}
.footer-subscribe-sendmail-input{

}
/*-------------------------------------*/
.footer-subscribe-location{
    margin-top: 10px;
    width: 324px;
    height: 31px;
    background-image: url("../images/footer/_0004_place-holder-copy-2.png");
}
.footer-subscribe-location-ico{
    margin-left: 6px;
    margin-top: 6px;
    width: 12px;
    height: 18px;
    background-image: url("../images/footer/_0002_iclocation-icon.png");
}
.footer-subscribe-location-down{
    margin-top: -12px;
    margin-left: 297px;
    width: 11px;
    height: 9px;
    background-image: url("../images/footer/_0003_drop-down-icon.png");
}