.header{
    /*position: absolute;*/
    width: 100%;
    padding-bottom: 37px;
    border-bottom: 1px #e8e7e3 solid;
}
.header-wrapper{
    position: relative;
    width: 1022px;
    height: 229px;
    left: 50%;
    margin-left: -511px;
    /*background-color: aquamarine;*//*technical!!!*/
}
/*----------------*/
.header-language-selector{
    margin-top: 23px;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    line-height: 12px;
    text-align: left;
    /*text-indent: -1px;*/
    /*text-transform: uppercase;*/
    /*letter-spacing: -0.4px;*/
    color: #a2a2a2;
    pointer-events: none;
    background: none !important;
}
.header-language-selector-rus{
    pointer-events: auto;
    cursor: pointer;
}
.header-language-selector-ua{
    pointer-events: auto;
    cursor: pointer;
}
.header-language-selector-eng{
    pointer-events: auto;
    cursor: pointer;
}
.header-language-selector-selected{
    color: #2c99df;
}
/*----------------*/
.header-title{
    margin-top: 27px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 43px;
    color: #003a80;
    line-height: 43px;
    pointer-events: none;
    background: none !important;
}
/*----------------*/
.header-logo-big{
    margin-top: -57px;
    margin-left: 765px;
    width: 258px;
    height: 83px;
    background-image: url("../images/header/_0006_Logo-Lactalis-CIS-copy.png");
}
/*----------------*/
.header-logo-line{
    position: relative;
    height: 36px;
    text-align: left;
}
.header-logo-small{
    position: relative;
    display: inline-block;
    margin-top: -4px;
    width: 112px;
    height: 36px;
    background-image: url("../images/header/_0005_Layer-292.png");
}
.header-logo-social{
    position: relative;
    display: inline-block;
}
/*----------------*/
.header-menu{
    position: relative;
    margin-top: 28px;
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    line-height: 25px;
    text-align: left;
    /*text-indent: -1px;*/
    /*text-transform: uppercase;*/
    /*letter-spacing: -0.4px;*/
    color: #d2d2d2;
    pointer-events: none;
    background: none !important;
}
.header-menu-element{
    cursor: pointer;
    color: #2c99df;
    pointer-events: auto;
}