html, body {
    height: 100%; /*calc(100% - 35px);*/
    margin: 0;
    padding: 0;
}
.wrapper {
    /*min-height: calc(100% - 35px);*/
    min-height: 100%;
    height: auto !important;
    /*height: calc(100% - 35px);*/
    height: 100%;
    margin: 0px 0 -427px 0; /* отрицательный нижний отступ на высоту футера */
    padding: 0;
}
.spacer-1px{
    height: 1px;
}
.spacer-22px{
    display: inline-block;
    height: 22px;
    width: 100%;
}
.inline-helper{
    width: 100%;
    height: 0;
    visibility: hidden;
    display: inline-block;
}
.nopadding{
    padding: 0 !important;
}
.noborder{
    border: none !important;
}
.clear{
    clear: both;
}
/*-----------------------------------------------*/
.content{
    width: 100%;
}
.content-wrapper{
    position: relative;
    width: 1022px;
    left: 50%;
    margin-left: -511px;
}
/*--------------------------------------------------*/
